$this: ".TextOnImage";

#{$this} {
  &__background-img {
    overflow:auto;
    object-fit: cover;
    padding-bottom:25px;
  }
  
  &__title {
      text-align: center;
      color:white;
      padding:40px;
      font-size: 50px;
  }

  &__column2 {
      float:left;
      width:50%;
  }

  &__leftColumnText {
      text-align:right;
      color:#23ba85;
      font-size:20px;
      margin-right:15px;
      margin-left:20%;
      font-weight:800;
  }

  &__rightColumnText {
    text-align:left;
    color:white;
    font-size:15px;
    margin-left:15px;
    margin-top:5px;
    margin-right:20%;
}

@media only screen and (max-width: 768px) {
  &__column2 {
    width:100%;
    padding:25px;
    
  }

  &__leftColumnText, &__rightColumnText {
    text-align:center;
    margin:0;
  }
}

@media only screen and (max-width: 375px) {
&__background-img {
  background-position: center;
  background-size: cover;

}

&__leftColumnText {
  font-size:16px;
}

&__column2 {
  padding:5px 15px;
}

}
}