$this: ".pricingslide";

#{$this} {

  &__content {
    padding:25px 5% 25px 5%;
    overflow:auto;
  }

  &__titleBlock {

    float:left;
    padding-right:15px;
  }

  &__optionsBlock {

    float:left;
    display:flex;
  }

  &__title {
    font-size:50px;
    text-align:right;
    line-height:1;
    margin-top:25px;

  }

  &__subTitle {
    font-size:15px;
    text-align:right;
    margin-top:25px;
  }


  &__option {
    padding-left:15px;
    padding-right:15px;
    width:33%;
    float:left;
    flex: 1;
  }

  &__optionTop {
    padding:25px;
    background-color: #f6f6f6;
    overflow:auto;
    text-align:center;
    border:0.5px solid #f6f6f6;

  }

  &__optionType {
    font-size:30px;
    color:#23ba85;
    font-weight:800;
  }

  &__optionPrice {
    font-size:50px;
    font-weight:800;
  }

  &__optionDesc {
    font-weight:600;
    font-size:15px;
    color:gray;
  }

  &__optionBottom {
    background-color:#363636;
    padding:25px;

    position: relative;
  }

  &__optionBotText {
    color:white;
    font-weight:600;
    text-align:center;
    line-height:2;
  }

  &__optionLink {
      color:white;
      padding:15px;
      background-color: #23ba85;
      background: linear-gradient(to right, #23ba85 50%, #1a996c 50%);
      background-size: 200% 200%;
      background-position:left bottom;
      display: inline-block;
      width:100%;
      border-radius: 5%;
      text-align:center;
      position: relative;
      bottom:0px;
      font-weight:600;
      transition:all 1s ease;

    &:hover {
    background-position:right top;
    color:white;
}
  }

@include breakpoint(medium only) {

  &__title, &__subTitle {
    text-align:center;
  }

  &__content {
    padding:25px;
  }

  &__optionTop, &__option {
    padding:5px;
  }

}

@include breakpoint(small only) {

  &__title, &__subTitle {
    text-align:center;
  }

  &__option {
    margin-bottom:25px;
  }

  &__optionsBlock {
    display:block;
  }

  &__optionTop, &__optionBottom {
    height:auto;
  }

  &__titleBlock {
    padding-right:0;
  }
}

}
